<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Noteurangle</title>
</head>
<body>
  <h1>Notes for all!</h1>
  <div ng-controller="NotesController">
    <input type="text" ng-model="noteText">
    <button ng-click="add()">Add</button>
    <button ng-click="clear()">Clear</button>

    <ul ng-repeat="note in notes">
      <li>{{note.text}}</li>
    </ul>
  </div>

  <script src="lib/traceur-runtime.js"></script>
  <script src="lib/es6-module-loader.js"></script>
  <script src="lib/system.js"></script>
  <script>
    System.map['diWrap'] = 'diWrapper/index';
    System.config({
      baseURL: '/',
      paths: {
        'angular': 'lib/angular.js'
      }
    });
    Promise.all([
      System.import('angular'),
      System.import('noteurangle')
    ]).then(function (r) {
        angular = r[0];
        angular.element(document).ready(function () {
          angular.bootstrap(document, ['noteurangle']);
        });
    }).catch(function (e) {
      setTimeout(function() {
        throw e;
      });
    });
  </script>
</body>
